header{
    width: 50%;
    height: 70px;

    text-align: center;
    font-family: 'Rubik One', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    /*background: linear-gradient(70deg, #57342d, #0fdede);*/
    display: table;
    margin: 20px auto;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    mix-blend-mode: multiply;
    padding: 5px 10px;
    background-image: url("../resources/images/header.jpg");
    opacity: 70%;
}
